<div class="shipping-returns">
  <div class="shipping-returns-wrap">
    <div class="shipping">
    <div class="shipping-link-wrap">
      <a class="shipping-link">
        <img class="shipping-link-img" src="{{ section.settings.shipping_heading_icon | img_url: 'master' }}" alt="shipping" loading="lazy" width="40" height="40">
        <span class="shipping-link-text">{{ section.settings.shipping_heading }}</span>
      </a>
    </div>
    <div class="shipping-content">
      <div class="row-content">
        <img src="{{ section.settings.ups_icon | img_url: 'master' }}" alt="UPS" loading="lazy" width="45" height="45">
        <div>
          {{ section.settings.ups_text }}
        </div>
      </div>
      <div class="row-content">
        <img src="{{ section.settings.dhl_icon | img_url: 'master' }}" alt="DHL" loading="lazy" width="80" height="80">
        <div>
          {{ section.settings.dhl_text }}
        </div>
      </div>
    </div>
  </div>
    <div class="returns">
    <div class="return-link-wrap">
      <a class="return-link">
        <img class="return-link-img" src="{{ section.settings.return_heading_icon | img_url: 'master' }}" alt="returns" loading="lazy" width="30" height="30">
        <span class="return-link-text">{{ section.settings.return_heading }}</span>
      </a>
    </div>
    <div class="return-content">
      <div class="row-content">
        {{ section.settings.return_text }}
      </div>
    </div>
  </div>
  </div>
  
</div>
{% schema %}
  {
    "name": "DO Shipping and return",
    "settings": [
      {
        "type": "text",
        "id": "shipping_heading",
        "label": "Shipping heading",
        "default": "Shipping"
      },
      {
        "type": "image_picker",
        "id": "shipping_heading_icon",
        "label": "Shipping heading icon"
      },
      {
        "type": "image_picker",
        "id": "ups_icon",
        "label": "UPS icon"
      },
      {
        "type": "richtext",
        "id": "ups_text",
        "label": "UPS text"
      },
      {
        "type": "image_picker",
        "id": "dhl_icon",
        "label": "DHL icon"
      },
      {
        "type": "richtext",
        "id": "dhl_text",
        "label": "DHL text"
      },
      {
        "type": "text",
        "id": "return_heading",
        "label": "Return heading",
        "default": "Returns"
      },
      {
        "type": "image_picker",
        "id": "return_heading_icon",
        "label": "Return heading icon"
      },
      {
        "type": "richtext",
        "id": "return_text",
        "label": "Return text"
      }
    ],
    "presets": [
      {
        "name": "DO Shipping and return",
        "category": "ADVANCED LAYOUT"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  .shipping-returns {
    padding: 2rem;
    display: flex;
    background-color: #f6dddc;
    margin: 4rem 0;
  }
  .shipping-returns-wrap {
    max-width: 600px;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
  }
  .shipping, .returns {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .shipping-link-wrap, .return-link-wrap {
    display: flex;
    margin-bottom: 2rem;
  }
  .shipping-link, .return-link {
    display: flex;
    align-items: center;
  }
  .shipping-link-img, .return-link-img {
    margin-right: 1rem;
  }
  .shipping-link-text, .return-link-text {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: Conv_AvenirNextLTPro-Regular !important;
    letter-spacing: 1rem;
  }
  .shipping-content, return-content {
    display: flex;
    flex-wrap: wrap;
  }
  .row-content {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 0;
  }
  .row-content img {
    margin-right: 1rem;
  }
  .row-content {
    text-align: center;
  }
  @media screen and (max-width: 650px) {
    .shipping, .returns {
      width: 100%;
    }
    .shipping-link-wrap, .return-link-wrap {
      justify-content: center;
    }
    .row-content {
      justify-content: center;
    }
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}